@model IEnumerable<CourseCreator.Datalayer.Entities.Course.CourseGroup>

<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                @foreach (var group in Model.Where(g => g.ParentId == null))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color: white;">@group.GroupTitle</a>
                       
                    </li>
 
                }
             </ul>
            </div>
     </div>
</nav>
