@model CourseCreator.Datalayer.Entities.User.User
@{
    ViewData["Title"] = "Success|Register";
}

@* <style>
    .success-message {
        display: none;
        text-align: center;
        margin-top: 10px;
        color: #28a745;
    }
</style>
<div class="success-message">
    <h2>Dear @Model.Username</h2>
    <p>The activation Email was sent to you, please check "@Model.Email"</p>
</div>  *@
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Finsih Registration</a>
            </li>

        </ul>
    </div>
</nav>
<div class="container mt-30">
    <div class="alert alert-success">
        <h2>Dear new user</h2>
        <p>The activitaion Email was sent to you, please check your email</p>
    </div>

</div>