@using CourseCreator.Core.DTOs;
@using CourseCreator.Core.Services.Interfaces;

@inject IUserService _userService;

@{
    SideBarUserPanelViewModel user = _userService.GetSidebarUserPanelData(User.Identity.Name);
}
<aside>
    <h2 class="text-success">Detail info</h2>
    <hr />
    <img src="/UserAvatar/@user.ImageName" alt="img" width="200">
    <br/>
    <ul>
        <li>
            <span> Username : 
                @user.Username
             </span>
        </li>
        <li>
            <span> Register Date : 
                @user.RegisterDate
            </span>
        </li>
     
    </ul>
</aside>
